:root{
  --primary-color: black;
  --secondary-color: rgb(236, 240, 241);
  --tertiary-color: gray;
  --accent-color: rgb(216,164,82);
}

body{
  background-color: black;
  margin: 0px;
  position: relative;
}
button{
  cursor: pointer;
}
p{
  color: rgb(236, 240, 241);
}
