body{
  background-color: black;
  margin: 0px;
  height: 1250px;
  position: relative;
}
button{
  cursor: pointer;
}
p{
  color: rgb(236, 240, 241);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
}

.logo-div{
  margin-left: 30px;
}
.logo-image{
  width: 83px;
}

.navigation{
  margin-right: 30px;
  justify-content: space-between;
}
.nav-button{
  background-color: rgba(44, 62, 80, 0);
  color: rgb(236, 240, 241);
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.hero-section-image-div{
  height: 700px;
  width: 100%;
}
.hero-section-image{
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.hero-section-text{
  position: absolute;
  font-size: 30px;
  top: 200px;
  left: 40px;
  margin: 0px;
}
.hero-text-1{
  margin: 0px;
}
.hero-text-2{
  font-size: 16px;
  width: 500px;
}
.about-us-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.about-us-text{
  font-weight: bold;
  font-size: 25px;
}
.about-us-text-2{
  width: 800px;
  font-size: 22px;
  margin-bottom: 50px;
}

.learn-more-button{
  background-color: black;
  color: rgb(236, 240, 241);
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px;
  border-style: solid;
  border-color: rgb(236, 240, 241);
  border-radius: 20px;
  transition: background-color 0.5s ;
}
.learn-more-button:hover{
  background-color: rgb(236, 240, 241);
  color: black;
}

.footer{
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  bottom: 0px;
  width: 100%;
  height: 150px;
  border-top: 0.5px solid rgb(236, 240, 241);
}
.footer-headings{
  font-size: 19px;
  font-weight: bold;
}
.quicklinks-section{
  display: inline-block;
  flex-direction: column;
  border-right: 0.5px solid rgb(236, 240, 241);
  padding-left: 30px;
}
.links-div{
  display: flex;
  flex-direction: column;
}
.links{
  font-size: 18px;
  color: rgb(236, 240, 241);
  margin-bottom: 10px;
  text-decoration: none;
  transition: all 0.2s;
}
.links:hover{
  color: rgb(216,164,82);
  font-size: 23px;
}
.contact-section{
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  border-right: 0.5px solid rgb(236, 240, 241);
}
.contact-link{
  color: rgb(216,164,82);
}
.connect-section{
  border-top: 0.5px solid rgb(236, 240, 241);
  display: flex;
  flex-direction: column;
}
.icon-grid{
  display: grid;
  grid-template-columns: 50px 50px 50px;
  gap: 10px;
}
.icon-buttons{
  border: none;
  border-radius: 16px;
  height: 32px;
  width: 32px;
  transition: all 0.15s;
}
.icon-buttons:hover{
  background-color: rgb(216,164,82);
  border-radius: 25px;
  height: 50px;
  width: 50px;
}
.connect-images{
  width: 80%;
}

.services-section{
  display: flex;
  padding-left: 30px;
}

